@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Willkommen<br /> auf der Food Shop Webseite von <br />Bagheri</h5>

    <br />
    <p class="text-center">
        Sie finden hier die besten und köstlichsten Produkte für ihr Alltag, greifen sie zu
        und bereichern sie sich mit ihre Vorstellungen
    </p>
    
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">Zur Produkteseite</a>
    <a class="btn btn-outline-success" asp-controller="Users" asp-action="Index">Zur Users Seite</a>
 </div>
